/* ? https://github.com/necolas/normalize.css */
/* ? small CSS file that provides better cross-browser consistency in the default styling of HTML elements. */
@import "normalize.css";

/* ? Google font Barlow Semi Condensed */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@import "utils.css";
@import "game.css";

/* ! Breakpoints */
/* - Mobile: 375px */
/* middle point - 870px */
/* - Desktop: 1366px */

:root {
  --light-shadow-color: hsl(229 25% 70%);
  --dark-shadow-color: hsl(229 25% 15% / 0.7);
  --dark-text: hsl(229 25% 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --light-text: hsl(217, 16%, 95%);

  --base-spacing: 0.75rem;

  --scissors-gradient: hsl(39, 89%, 45%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

  --background-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

  --light-color: hsl(0, 0%, 85%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  color: var(--light-text);

  background-image: linear-gradient(var(--background-gradient));
  min-height: 100vh;
}

button {
  cursor: pointer;
}

header {
  border: 3px solid var(--header-outline);
  border-radius: 0.5rem;
  max-width: 45rem;
  min-width: 18rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

header h1 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: -1px;
  width: min-content;
  text-transform: uppercase;
  padding-inline-start: var(--base-spacing);
}

header .score {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.7rem;
  background-color: var(--light-color);
  color: var(--score-text);
  border-radius: 0.5rem;
}

main {
  min-height: 55vh;
}

.score-counter {
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark-text);
}

button {
  background: transparent;
  color: var(--light-color);
  letter-spacing: 3px;
  padding: var(--base-spacing) calc(var(--base-spacing) * 3);
  border: 3px solid var(--header-outline);
  border-radius: 0.5rem;
}

.btn-rules {
  transition: all 500ms;
}

@media (min-width: 1366px) {
  .btn-rules {
    align-self: end;
  }
}


.rules-dialog {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #eee;
  color: var(--dark-text);
  display: grid;
  gap: 2rem;
  place-items: center;
  grid-template-areas:
    "title"
    "image"
    "button";
}

.rules-dialog .title {
  grid-area: title;
  text-transform: uppercase;
  font-weight: 800;
  font-size: xx-large;
  color: var(--dark-text);
  text-align: center;
  margin-block: 0;
}

.rules-dialog .image {
  grid-area: image;
  width: 80%;
  max-width: 30rem;
  min-width: 250px;
  place-self: center;
}
.rules-dialog .button {
  color: var(--dark-text);
  grid-area: button;
  border: none;
  font-size: 3rem;
}

@media (min-width: 870px) {
  .rules-dialog {
    border: none;
    border-radius: 1rem;
    gap: 0;
    position: fixed;
    width: 35rem;
    height: fit-content;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translateX(-50%) translateY(-50%);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "title button"
      "image image";

    padding-block-end: 3rem;
  }
  .rules-dialog .title {
    place-self: center start;
  }
  .rules-dialog .button {
    place-self: center end;
  }
}

.opacity-0 {
  opacity: 0;
}

.z-index-back {
  z-index: -1;
}
